@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}
body{
  scroll-behavior: auto;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-image: linear-gradient( 135deg, #f2f5f5  10%, #f2f2f2 100%);
  overflow: auto;
}
::selection{
  color: #f2f2f2;
  background: #8FB4D4;
}
body::before,
body::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
body::before{
  clip-path: circle(30% at left 20%);
  opacity: 0.4;
  background-image: linear-gradient( 135deg, #276A7E 10%, #8FB4D4 100%);
}
body::after{
  opacity: 0.4;
  clip-path: circle(40% at right 80%);
  background-image: linear-gradient( 135deg, #276A7E 10%, #8FB4D4 100%);
}
.section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: linear-gradient( 135deg, #f2f5f5  10%, #f2f2f2 100%);
  z-index: 0;
  position: relative;
  justify-items: center;
}
.section::before,
.section::after{
  content: '';
  position:absolute;
  left: 0;
  top: 100vh;
  height: 100%;
  width: 100%;
}


header{
  height: 90vh;
  width: 95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 9vh;align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
  position: relative;
}

header.scroll{
  margin: auto;
  background: #f2f2f2;
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
  border-radius: 0%;
  height: 8vh;
  z-index: 100;
  width: 100%;
  position: fixed;
}

.newhead{
  position: fixed;
  background-color: #f2f2f2;
  height: 8vh;
  width: 100vw;
  z-index: 100;
  opacity: 0;
}

.navbar1{
  
  width: 100%;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: start;
  display: flex;
  flex-direction: row;
  position: fixed;
  transition: transform 0.3s ease-in-out;
}
.navbar1 .menu1{
  display: flex;
  flex-wrap: wrap;
}
.navbar1 .logo1 a{
  text-decoration: none;
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.navbar1 .menu1 li{
  list-style: none;
  margin: 0 6px;
  float: right;
}
.navbar1 .menu1 a{
  color: #000;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  padding: 2px 10px;
}
.navbar1 .menu1 a:hover{
  border-radius: 3px;
  color: #3a7999;
  
}
.navbar1 .buttons input{
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  margin-top: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #F5E5D5  10%, #C5D1EB 100%);
}
.navbar1 .buttons input:hover{
  transform: scale(0.97);
}
.newhead.animation{
  opacity: 1;
  transition: all 0.7s;
  transform: translateY(0%);
}

.text-content.scroll{
  display: none;
}

.navbar{
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  justify-content: space-between;
  align-items: start;
  display: flex;
  flex-direction: row;
  position: fixed;
}
.navbar.scroll {
  transform: translateY(-100%);
}
.navbar .menu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbar .logo a{
  text-decoration: none;
  font-size: 24px;
  color: #000;
  font-weight: 500;
}
.navbar .menu li{
  list-style: none;
  margin: 0px 6px;
  float: right;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.navbar .menu a{
  color: #000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  padding: 4px 10px;
}
.navbar .menu a:hover{
  border-radius: 3px;
  color: #3a7999;
}
.navbar .buttons input{
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #F5E5D5  10%, #C5D1EB 100%);
}
.navbar .buttons input:hover{
  transform: scale(0.97);
}

.button {
  display: flex;
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 5px 15px;
  border: none;
  margin: 0px 2px 2px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #F5E5D5  10%, #C5D1EB 100%);
  text-decoration: none;
  }
  .button :hover {
    
    border-radius: 3px;
  color: #3a7999;
    }

 header .text-content{
   width: 40%;
   margin: 100px 0 0 50px;
 }

.text-content h2{
  font-size: 60px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
}
.text-content h3{
  font-size: 35px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content:start;
  align-self: center;
  position: relative;
  margin-bottom: 3%;
  margin-left: 5%;
  background-color: #DCDEF5;
  padding: 1px 3px;
}
.text-content .tabsHeader{
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  display: flex;
  overflow-x: auto;
  align-items: stretch;
}
.text-content p{
  font-size: 25px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 600;
}

@media (max-width:850px) {
  header .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
  }
  .navbar .menu {
    margin: 24px 0 24px 0;
  }
  header .text-content{
    margin: 30px 0 0 20px ;
    width: 70%;
  }
  header .text-content h2{
    font-size: 20px;
  }
}
@media (max-width:410px) {
  header{
    height: 100vh;
    width: 100%;
    border-radius: 0px;
  }
  header .navbar{
    padding: 15px 10px;
}
}