/**, *:after, *:before {
  box-sizing: border-box;
}*/

h2, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

h2, h4 {
  /*font-family: 'Oswald', sans-serif;*/
  text-transform: uppercase;
  color: #333333;
  display: flex;
  align-items: center;
  position: relative;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
  position: relative;
  align-items: center;
}

p, li {
  /*font-family: "Roboto", sans-serif;*/
  font-weight: 400;
  color: #555;
  line-height: 22px;
}

ul, li {
  text-decoration: none;
  list-style: disc outside;
}

ul {
  padding-left: 20px;
}

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}

.body1 {
  margin: 0;
  width: 100%;
  display: flex;
  z-index: 12;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  position: relative;
  width: 80%;
  height: 30%;
  margin: 4px;
  perspective: 1000px;
}

.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}

.active:after {
  display: none;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.253);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.card:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}

.card:hover {
  transform: translateZ(0px);
}

.card:hover:after {
  opacity: 1;
}

.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
}

    .card .front {
      z-index: 2; }
    .card .back {
      transform: rotateY(180deg);
     }
    .card .info {
      padding: 16px;
      justify-content: center;
      align-items: center;
      position: fixed;
    
     }
     .card .info h2 {
      text-align: center;
     }
  
  .front .img {
    background-color: #dadce2;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px; 
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.253);}
  
  .front .img1 {
    background-image: url(photo1687952479.jpeg);
   }
  
  .front .img2 {
    background-image: url(http://i.imgur.com/2p9VXAn.jpg); }
  
  .front .img3 {
    background-image: url(http://i.imgur.com/I5ABT2v.jpg); }
  
  .back {
    position: relative; 
  }
    .back h2 {
      margin-top: 6px;
      margin-bottom: 18px; }
    .back .reviews {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer; }
      .back .reviews p {
        color: #c4c4c4;
        font-weight: 300;
        margin: 1px 0 0 6px;
        transition: 0.3s ease-in-out; }
      .back .reviews:hover p {
        color: #555; }
    .back li {
      line-height: 22px;
      margin: 2px 0 6px 0; }
    .back .btn {
      
      bottom: 16px;
      width: calc(100% - 32px);
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFC324;
      background-image: linear-gradient(-90deg, #FFB714, #FFE579);
      border-radius: 5px;
      cursor: pointer; }
      .back .btn:hover h4 {
        transform: translateX(0px); }
      .back .btn:hover svg {
        transform: translateX(0px);
        opacity: 1; }
      .back .btn h4 {
        transform: translateX(12px);
        transition: transform 0.3s ease-out; }
      .back .btn svg {
        margin: 1px 0 0 4px;
        transform: translateX(-8px);
        opacity: 0;
        transition: all 0.3s ease-out; 
      }
      
  