@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.container.courses {
  align-items: center;
  overflow: hidden;
  padding: 40px 0;
  height: 84vh;
  width: 98%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 0;
  border-radius: 25px;
  margin: auto;
  position: relative;
}

.container .text-content h3 {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  margin-bottom: 3%;
  font-size: 27px;
  font-weight: 600;
}

.section .main-card1 {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}

#two:checked ~ .main-card1 {
  margin-left: -100%;
}

.section .main-card1 .cards1 {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}

.main-card1 .cards1 .card1 {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.main-card1 .cards1 .card1:hover {
  transform: translateY(-15px);
}

.cards1 .card1 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards1 .card1 .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #F5C4C4;
  margin-bottom: 14px;
}

.card1 .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}

.card1 .content .name {
  font-size: 20px;
  font-weight: 500;
}

.card1 .content .job {
  font-size: 20px;
  color: #F5C4C4;
}

.card1 .content .media-icons {
  margin-top: 10px;
  display: flex;
}

.media-icons a {
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #F5C4C4;
  transition: all 0.3s ease;
}

.media-icons a:hover {
  color: #FF676D;
  background-color: #fff;
  border-color: #FF676D;
}

.section .button1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button1 label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #333333;
  background-color: #333333;
}

.button1 label.active {
  width: 35px;
  
  
}

#one:checked ~ .button1 .one {
  width: 35px;
  
}

#one:checked ~ .button1 .two {
  width: 15px;
}

#two:checked ~ .button1 .one {
  width: 15px;
}

#two:checked ~ .button1 .two {
  width: 35px;
}

input[type="radio"] {
  display: none;
  
}
