@media(max-width: 1000px) {
    .tabsHeader h2 {
        font-size: 24px;
    }

    .text-content-about_us h2 {
        font-size: 20px;
        line-height: 3vh;
        padding: 10px;
    }

}

@media(max-width: 450px) {
    .navbar .logo a {
        font-size: 20px;
    }

    .text-content-about_us h2 {
        font-size: 16px;
    }
}

/* Условия выравнивания */
@media (max-width: 600px) {
    #courses {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .main-card1 .cards1 .card1 {
        margin: 20px 0 10px 0;
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 600px) {
    .main-card1 .cards1 .card1 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 100%;
    }
}