
.section_login{
  height: 100vh;
  padding: 9vh 0vh 0vh 0vh;
  width: 100%;
  background-color: linear-gradient( 135deg, #f2f5f5  10%, #f2f2f2 100%);
  z-index: 0;
 position:relative;
 display: flex;
 flex-direction: column;


}


.section_login .container1{
  background: #fff;
  height: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  align-self: center;
  width: 60%;
}


.container1 ::after{
  
  margin-bottom: 10vh;
}
.container1 form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.container1 form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}
.container1 form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container1 form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.container1 form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container1 form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #333333 0%, #f2f5f5 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container1 form .input-box input:focus ~ .underline::after,
.container1 form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.container1 form .button2{
  margin: 40px 0 20px 0;
}
.container1 .input-box input[type="submit"]{
  background: #333333;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container1 .input-box input[type="submit"]:hover{
  letter-spacing: 1px;
  background: #797777;
}
.container1 .option{
  font-size: 14px;
  text-align: center;
}
.container1 .facebook a,
.container1 .twitter a{
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.container1 .facebook i,
.container1 .twitter i{
  padding-right: 12px;
  font-size: 20px;
}
.container1 .twitter a{
  background: linear-gradient(to right,  #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.container1 .twitter a:hover{
  background: linear-gradient(to left,  #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.container1 .facebook a{
  background: linear-gradient( to right,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}
.container1 .facebook a:hover{
  background: linear-gradient( to left,  #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}