@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
div {
  text-align: justify;
}
span{}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

body {
  scroll-behavior: auto;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-image: linear-gradient(135deg, #f2f5f5 10%, #f2f2f2 100%);
  overflow-x:hidden;

}

::selection {
  color: #f2f2f2;
  background: #8FB4D4;
}

body::before,
body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

body::before {
  clip-path: circle(30% at left 20%);
  opacity: 0.4;
  background-image: linear-gradient(135deg, #C5C7DB 10%, #C5C7DB 100%);
}

body::after {
  opacity: 0.4;
  clip-path: circle(40% at right 90%);
  background-image: linear-gradient(135deg, #C5C7DB 10%, #8FB4D4 100%);
}

.nothing_btn {
  display: inline;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  width: 100vw;
  justify-items: center;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 95%;
  width: 95%;
  background: #f5f4c4;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 10;
  border-radius: 25px;
  margin-top: 1vh;
  position: relative;
}

.box2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 95%;
  width: 95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;

  position: relative;
}
.box3 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 95%;
  width: 95%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;
  position: relative;
  
}

.box3:hover{
  background-image: url(image-background/kovorking1000.jpg);
  background-size:100% 100%;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}


.box4 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 95%;
  width: 95%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;

  position: relative;
}

.box4:hover{
  background-image: url(image-background/image-main.jpg);
  background-size:100% 100%;
  -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.box5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  height: 95%;
  width: 95%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 10vh;
  position: relative;
  
}

.box5:hover{
  background-image: url(image-background/business-pug-working-on-laptop.jpg);
  background-size:100% 100%;
  -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.box6 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  height: 95%;
  width: 95%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 10vh;
  position: relative;
  -webkit-filter: brightness(100%);
}

.box6:hover{
  background-image: url(image-background/pict_2.jpg);
  background-size:100% 100%;
  -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.box7{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 95%;
  width: 95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  position: relative;
  display: flex;
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(135deg, #F5F4C4 10%, #F5C9B8 100%);
  text-decoration: none;
  justify-content: space-around;
  align-items: center;

}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

h2,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h2,
h4 {
  /*font-family: 'Oswald', sans-serif;*/
  text-transform: uppercase;
  color: #333333;
  display: flex;
  align-items: center;
  position: relative;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
  position: relative;
  align-items: center;
}

p,
li {
  /*font-family: "Roboto", sans-serif;*/
  font-weight: 400;
  color: #555;
  line-height: 22px;
}

ul,
li {
  text-decoration: none;
  list-style: disc outside;
}

ul {
  padding-left: 20px;
}

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}


.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

body {
  scroll-behavior: auto;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  background-image: linear-gradient( 135deg, #f2f5f5  10%, #f2f2f2 100%);
  overflow: auto;

}

::selection {
  color: #f2f2f2;
  background: #8FB4D4;
}

body::before,
body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

body::before {
  clip-path: circle(30% at left 20%);
  opacity: 0.4;
  background-image: linear-gradient( 135deg, #C5C7DB 10%, #C5C7DB 100%);
}

body::after {
  opacity: 0.4;
  clip-path: circle(40% at right 90%);
  background-image: linear-gradient( 135deg, #C5C7DB 10%, #8FB4D4 100%);
}

.nothing_btn{
  display: inline;
}

.section {
  height: 100vh;
  padding: 9vh 0vh 0vh 0vh;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  overflow: hidden;
  background-color: linear-gradient( 135deg, #f2f5f5  10%, #f2f2f2 100%);
  z-index: 0;
  position: relative;
  justify-items: center;
  display: block;
}

.section::before,
.section::after {
  content: '';
  position:absolute;
  left: 0;
  top: 100vh;
  height: 100%;
  width: 100%;
}

header {
  margin: auto;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  height: 8vh;
  z-index: 20;
  width: 100%;
  position: fixed;
  opacity: 0;
  display:none;
}

header.animation{
  display: flex;
  animation: ani 0.6s forwards;
  animation-timing-function: ease-out;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

header.animation_cancel{
  display: flex;
  animation: ani_cancel 0.3s forwards;
}
@keyframes ani_cancel {
  0% {opacity: 1;}
  100% {opacity: 0;
   pointer-events: none;}
}

.text-content.scroll {
  display: none;
}


.navbar {
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  justify-content: space-between;
  align-items: start;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.container {
  align-items: center;
  height: 90vh;
  width: 95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 10vh;
  position: relative;

}
.container p {
  position: relative;
  display: flex;
}

.navbar .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar .logo a {
  text-decoration: none;
  font-size: 24px;
  color: #000;
  font-weight: 500;
}

.navbar .menu li {
  list-style: none;
  margin: 0px 6px;
  float: right;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.navbar .menu a {
  color: #000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  padding: 4px 10px;
}
.navbar .menu a:hover{
  border-radius: 3px;
  color: #3a7999;
}

.navbar .buttons input {
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #F5E5D5  10%, #C5D1EB 100%);
}

.navbar .buttons input:hover {
  transform: scale(0.97);
}

.navbar .toggle_btn{
  color: #f2f2f2;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


.button {
  display: flex;
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  justify-content: space-around;
  align-content: space-around;
  align-self: space-around;
  text-align: center;
  padding: 5px 15px;
  margin: 0px 2px 2px 0px;
  background-image: linear-gradient(135deg, #F5E5D5 10%, #C5D1EB 100%);
}

.button-main {
  display: flex;
  outline: none;
  color: #000;
  font-size: 5vh;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  justify-content: space-around;
  align-content: space-around;
  align-self: space-around;
  text-align: center;
  padding: 10px;

}


.container .text-content {
  width: 60%;
  margin: 100px 0 0 50px;
}

.text-content-about_us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.text-content-about_us h2{
  letter-spacing: normal;
  text-transform: none;
  line-height: 8vh;
  padding: 10px;
  overflow: auto;
  display: flex;
  overflow-y: auto;
}


.text-content h2 {
  font-size: 60px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
  background-color: #F5F4C4;
  line-height: 70px;
}

.text-content h3 {
  font-size: 35px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: start;
  align-self: center;
  position: relative;
  margin-bottom: 3%;
  margin-left: 5%;
  background-color: #DCDEF5;
  padding: 1px 3px;
}

.text-content .tabsHeader {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  display: flex;
  overflow-x: auto;
  align-items: stretch;
}

.text-content p {
  font-size: 25px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 600;
  
}


.box1 .text-content-main {
  align-content: center;
  justify-content: start;
  justify-self: center;
  display: flex;
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.box3 .text-content-main {
  align-content: center;
  justify-content: center;
  justify-self: center;
  display: flex;
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.box4 .text-content-main {
  align-content: center;
  justify-content: center;
  justify-self: center;
  display: flex;
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.box5 .text-content-main {
  align-content: center;
  justify-content: center;
  justify-self: center;
  display: flex;
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;

}
.box6 .text-content-main {
  align-content: center;
  justify-content: center;
  justify-self: center;
  display: flex;
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

/*DROPDOWN MENU*/
.dropdown-menu{
  display: none;
  position: absolute;
  right: 2vb;
  top: 60px;
  width: 200px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1.5px);
  border-radius: 25px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
  height: 240px;
}


.dropdown-menu li{
  padding: 0.7vb;
  display: flex;
  align-items: end;
  justify-content: center;
}

.dropdown-menu .button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-dropdown-menu{
  display: none;
  position: absolute;
  right: 2vb;
  top: 100px;
  width: 200px;
  height: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1.5px);
  border-radius: 25px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-dropdown-menu.open{
  height: 240px;
  z-index: 100;
}

.main-dropdown-menu li{
  padding: 0.7vb;
  z-index: 100;
  display: flex;
  align-items: end;
  justify-content: center;
}

.main-dropdown-menu .button{
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggle_btn i{
  color: #000;
}
.main_toggle_btn i{
  color: #000;
}

@media(max-width: 1256px){
  .navbar .menu,
  .navbar .button{
    display: none;
  }

  .navbar .toggle_btn{
    display: flex;
  }

  .dropdown-menu{
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .main-dropdown-menu{
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .tabsHeader h2{
    font-size: 24px;
  }
}
.text-content-main .navbar {
  justify-content: space-around;
}


.text-content-main .navbar .menu li {
  list-style: none;
  margin: 0px 6px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  justify-self: center;
}

.text-content-main .navbar .menu a {
  color: #000;
  text-decoration: none;
  font-size: 7vh;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  padding: 4px 10px;
}

.text-content-main .navbar .menu a:hover {
  border-radius: 3px;
  color: #3a7999;
}

.text-content-main .navbar .buttons input {
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(135deg, #F5E5D5 10%, #C5D1EB 100%);
}

.text-content-main .navbar .buttons input:hover {
  transform: scale(0.97);
}

.text-content-main .navbar .toggle_btn {
  color: #f2f2f2;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}