@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
div {
  text-align: justify;
}
span{}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

body {
  scroll-behavior: auto;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  background: #f2f5f5;
  overflow-x:hidden;

  

}
body img{
  position: absolute;
  height: 200vh;
top: -45%;
  width: 100%;
  z-index: 1;


}
body::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/*body::after{
  content: '';
  position: absolute;
  background-image: url(/image-background/Vectarytexturefigure.png);
  background-size: cover;
  height: 150vh;
  width: 100%;
}
*/
::selection {
  color: #f2f2f2;
  background: #8FB4D4;
}

body::before{
  width: 100%;
  height: 65%;
  background: linear-gradient(135deg,#408ec6 10%,#1e2761 50%, #7a2048 90%);
  background: #606d28;
  background: #A1BA32;
  background: #45B6BA;
  background: #448EB3;
  background: #54708F;


}




.nothing_btn {
  display: inline;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 95vh;
  width: 100vw;
  justify-items: center;


}



.box_nav {
  height: 60%;
  width: 95%;
  z-index: 10;
  border-radius: 25px;
  margin-top: 1vh;
  position: relative;
  margin: auto;

}


.box_nav:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  align-content: start;
  justify-content: space-around;
}
.box_nav:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  backdrop-filter: none;
  text-align: left;
  z-index: 11;
  

}

.box_nav:nth-child(3){
  height: 65%;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;

  z-index: 0;

}
.column_nav{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
  margin: 1vh 2vw;
display: flex;
flex-direction: column;
align-content: space-around;
}
.column_nav .box_nav {
  height: 12%;
  width: 100%;

  backdrop-filter: blur(2px);

  z-index: 10;
  border-radius: 25px;
  margin-top: 1vh;
  position: relative;
  margin: auto;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.404);

}
.column_nav .box_nav:nth-child(1) {
  /*grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;*/
}

.column_nav .box_nav:nth-child(2) {
  /*grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;*/
}
.column_nav .box_nav:nth-child(3) {
  /*grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;*/
}
.column_nav .box_nav:nth-child(4) {
  /*grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;*/
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.404);
}

.column_nav .box_nav:nth-child(5) {
  /*grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;*/
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.404);
  height: max-content;
}



.box_button{
  /*grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  height: 100%;
  width: 100%;*/
  z-index: 10;
  border-radius: 25px;
  position: relative;
  display: flex;
  outline: none;
  color: #000;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0vh 2vw;

}


.button-main {
  display: flex;
  outline: none;
  color: #f5f2f2;
  font-size: 5vh;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  justify-self: space-around;

  align-self: center;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  background-image: linear-gradient(135deg, #F29574 10%, #F2C944 100%);
  background-image: linear-gradient(135deg, #194459 10%, #A65058 100%);
  
  background-image: linear-gradient(135deg, #F29574 10%, #F2C944 100%);
  background-image: linear-gradient(135deg, #A65058 10%, #3F83A6 100%);
}

.button-main:hover{
  letter-spacing: 1px;
  background-image: linear-gradient(135deg, #a55c63 10%, #518ba8 100%);
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

h2,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
/*
h2,
h4 {
  /*font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  align-items: center;
  position: relative;
}

h2 {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin-bottom: 10px;
  position: relative;
  align-items: center;
} */

p,
li {
  /*font-family: "Roboto", sans-serif;*/
  font-weight: 400;
  color: #555;
  line-height: 22px;
}

ul,
li {
  text-decoration: none;
  list-style: disc outside;
}

ul {
  padding-left: 20px;
}

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}


.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.section {
  height: max-content;
  min-height: 100vh; /*а нужно ли?*/
  padding: 9vh 0vh 0vh 0vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f2f5f5;
  z-index: 0;
  position: relative;
  justify-items: center;
  display: block;
}







header {
  margin: auto;
  background: #f2f5f5;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  height: 8vh;
  z-index: 20;
  width: 100%;
  position: fixed;
  opacity: 0;
  display:none;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.020);
  backdrop-filter: blur(2px);
}

header.animation{
  display: flex;
  animation: ani 0.6s forwards;
  animation-timing-function: ease-out;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

header.animation_cancel{
  display: flex;
  animation: ani_cancel 0.3s forwards;
}
@keyframes ani_cancel {
  0% {opacity: 1;}
  100% {opacity: 0;
   pointer-events: none;}
}

.text-content.scroll {
  display: none;
}


.navbar {
  margin: auto;
  width: 100%;
  padding: 35px 50px;
  border-radius: 25px;
  justify-content: space-between;
  align-items: start;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.container {
  align-items: center;
  height: 90vh;
  width: 95%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  border-radius: 25px;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 10vh;
  position: relative;

}
.container p {
  position: relative;
  display: flex;
}

.navbar .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar .logo a {
  text-decoration: none;
  font-size: 24px;
  color: #000;
  font-weight: 500;
}

.navbar .menu li {
  list-style: none;
  margin: 0px 6px;
  float: right;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.navbar .menu a {
  color: #000;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  padding: 4px 10px;
}
.navbar .menu a:hover{
  border-radius: 3px;
  color: #3a7999;
}

.navbar .buttons input {
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #F5E5D5  10%, #C5D1EB 100%);
}

.navbar .buttons input:hover {
  transform: scale(0.97);
}

.navbar .toggle_btn{
  color: #f2f2f2;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


.button {
  display: flex;
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  justify-content: space-around;
  align-content: space-around;
  align-self: space-around;
  text-align: center;
  padding: 5px 15px;
  margin: 0px 2px 2px 0px;
  
}



.container .text-content {
  width: 60%;
  margin: 100px 0 0 50px;
}

.text-content-about_us{
  padding: 1vh 2vw;

}

.text-content-about_us:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.text-content-about_us:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.text-content-about_us h2{
  letter-spacing: normal;
  text-transform: none;
  line-height: 5vh;
  padding: 10px;
  overflow: auto;
  display: flex;
  overflow-y: auto;
  font-weight: bold;
  font-size: 4vh;
}


.text-content-main{
  height: 100%;
  width: 95%;
}

.text-content-main h2{
  font-size: 4vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
  text-align: justify;
}

.text-content h2 {
  font-size: 60px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
  background-color: #F5F4C4;
  line-height: 70px;
}

.text-content h3 {
  font-size: 35px;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: start;
  align-self: center;
  position: relative;
  margin-bottom: 3%;
  margin-left: 5%;
  padding: 1px 3px;
}

.text-content .tabsHeader {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  display: flex;
  overflow-x: auto;
  align-items: stretch;
}

.text-content p {
  font-size: 25px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 600;
  
}


/*DROPDOWN MENU*/
.dropdown-menu{
  display: none;
  position: absolute;
  right: 2vb;
  top: 60px;
  width: 200px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1.5px);
  border-radius: 25px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
  height: 240px;
}


.dropdown-menu li{
  padding: 0.7vb;
  display: flex;
  align-items: end;
  justify-content: center;
}

.dropdown-menu .button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-dropdown-menu{
  display: none;
  position: absolute;
  right: 2vb;
  top: 100px;
  width: 200px;
  height: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1.5px);
  border-radius: 25px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-dropdown-menu.open{
  height: 240px;
  z-index: 100;
}

.main-dropdown-menu li{
  padding: 0.7vb;
  z-index: 100;
  display: flex;
  align-items: end;
  justify-content: center;
}

.main-dropdown-menu .button{
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggle_btn i{
  color: #000;
}
.main_toggle_btn i{
  color: #000;
}

@media(max-width: 1256px){
  .navbar .menu,
  .navbar .button{
    display: none;
  }

  .navbar .toggle_btn{
    display: flex;
  }

  .dropdown-menu{
    display: block;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .main-dropdown-menu{
    display: block;
    align-items: center;
    justify-content: center;
  }
  
  .tabsHeader h2{
    font-size: 24px;
  }
}
.text-content-main .navbar {
  justify-content: space-around;
}


.text-content-main .navbar .menu li {
  list-style: none;
  margin: 0px 6px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  justify-self: center;
}

.text-content-main .navbar .menu a {
  color: #000;
  text-decoration: none;
  font-size: 7vh;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  padding: 4px 10px;
}

.text-content-main .navbar .menu a:hover {
  border-radius: 3px;
  color: #3a7999;
}

.text-content-main .navbar .buttons input {
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  padding: 6px 15px;
  border: none;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(135deg, #F5E5D5 10%, #C5D1EB 100%);
}

.text-content-main .navbar .buttons input:hover {
  transform: scale(0.97);
}

.text-content-main .navbar .toggle_btn {
  color: #f2f2f2;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.ag-courses_item {
  overflow: hidden;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.ag-courses-item_link {
  display: block;
  background-color: #f2f5f5;
  height: 100%;
  padding: 30px 20px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
 
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_title {
color: #161616;
  text-decoration: none;
  
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 4vh;
  color: #2A2A2A;
  z-index: 2;
  position: relative;

}

.ag-courses-item_title h1{
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 9vh;
  color: #2A2A2A;
  z-index: 2;
  position: relative;
text-align: left;
  align-self: center;
  padding: 3vh 2vw;
}
.ag-courses-item_title h2{
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 8vh;
  color: #060606;
  z-index: 2;
  position: relative;
  text-align: left;
  align-self:center;
  padding: 0vh 2vw;
  text-transform: none;

  
}
h1 mark {
  background-color: #D5ECFA;
  background-color: #DCDEF5;
  background-color: #3F83A6;
  background-color: #f2f5f5;
}
h2 mark {
  background-color: #F29574;
  background-color: #feb483;
  background-color: #A1BA32;
  background-color: #F6C4B6;


}
h3 mark {
  background-color: #7BA1B5;
}
.ag-courses-item_date-box {
  font-size: 18px;
  z-index: 2;
  position: relative;

}
.ag-courses-item_date {

  color: #3F83A6;
  font-size: 3vh;
  
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  text-align: left;

}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;


  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 100%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.column_nav .box_nav .ag-courses_item .ag-courses-item_bg {
  
  background-color: #F29574;
  background-color: #FF9D7A;
  background-color: #F6C4B6;
}
/*
.column_nav .box_nav:nth-child(2) .ag-courses_item .ag-courses-item_bg {
  background-color: #C93E62;
}
.column_nav .box_nav:nth-child(3) .ag-courses_item .ag-courses-item_bg {
  background-color: #C93E62;
}
.column_nav .box_nav:nth-child(4) .ag-courses_item .ag-courses-item_bg {
  background-color: #C93E62;
}
.column_nav .box_nav:nth-child(5) .ag-courses_item .ag-courses-item_bg {
  background-color: #C93E62;
}*/




@media only screen and (max-width: 979px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    height: max-content;
    min-height: 100vh;
  }
 
  .box_nav:nth-child(1), .box_nav:nth-child(2) {
    display: flex;
    flex-direction:column ;
  }
  .box_nav:nth-child(1){
    font-size: 3vh;
  }
  .box_nav:nth-child(2){
    
  }
  .box_nav:nth-child(3){
    display: none;
  }
  .column_nav .box_nav:nth-child(1), .column_nav .box_nav:nth-child(2),.column_nav .box_nav:nth-child(3),.column_nav .box_nav:nth-child(4), .column_nav .box_button{
    display: none;
  }
  .ag-courses-item_title h1{
    font-size: 6vh;
    margin: 0%;
  }
  .ag-courses-item_title h2{
    font-size: 6vh;
    margin: 0%;
  }
  
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
  .ag-courses-item_title {
    font-size: 6vh;
    margin: 0%;
    text-align: left;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 6vh;
    margin: 0%;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
  .wrapper {
    display: flex;
  }
  .box_nav {
width: 100%;
    margin: 0;
  }
}


::selection{
  background: rgba(23,162,184,0.3);
}

.about-us-fragment {
  height: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,1fr);
}

.wrapper_rewiew{

  margin: auto;
  padding: 0 20px;
  align-items: center;
  justify-content: space-around;

  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box_rewiew{
  background-color: rgb(242, 149, 116, .75);
  align-self: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  padding: 25px;
  border-radius: 75px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  margin: 1vh 1vw;

}
.box_rewiew:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.box_rewiew:nth-child(2){

  grid-column-start:4 ;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

}
.box_rewiew:nth-child(3){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

}


.wrapper_rewiew .box_rewiew i.quote{
  font-size: 20px;
  color: #3F83A6;
}
.wrapper_rewiew .box_rewiew .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box_rewiew .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box_rewiew .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #3F83A6;
}
.box_rewiew .info .stars{
  margin-top: 2px;
}
.box_rewiew .info .stars i{
  color: #3F83A6;
}
.box_rewiew .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #3F83A6;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box_rewiew:hover .content .image img{
  border-color: #fff;
}
.box_rewiew p{
  color: #333333;

}
@media (max-width: 1045px) {
  .wrapper_rewiew .box_rewiew{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
  .about-us-fragment{
    display: flex;
    flex-direction: column;
  }
  .section {
    height: max-content;
  }
  .about-us-fragment{
    height: max-content;
  }
}
@media (max-width: 702px) {
  .wrapper_rewiew .box_rewiew{
    width: 100%;
  }
}
.figures{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: space-around;
  align-content: center;
  justify-content: space-around;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: row;
}
.figures::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  clip-path: circle(50% at left 90%);
  background-image: #7fee1d;
}
#circle {
  width: 120px;
  height: 120px;
  background: #7fee1d;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  align-self: center;
display: flex;

}
